nbproject
.dirstamp
.libs/
jansson.pc
compat/jansson-2.9/src/jansson_config.h
compat/jansson-2.9/jansson_private_config.h
libtool
ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
SI/*


cgminer
cgminer.exe
minerd
minerd.exe
*.o
*.lo
*.la
*.bin
*.a

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.guess
config.sub

mingw32-config.cache

*~

ext_deps
config.h.in
config.h


ccan/libccan.a
lib/arg-nonnull.h
lib/c++defs.h
lib/libgnu.a
lib/signal.h
lib/string.h
lib/stdint.h
lib/warn-on-use.h

mkinstalldirs

*.swp

cgminer
cgminer.exe
minerd
minerd.exe
*.o
*.bin

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.guess
config.sub

mingw32-config.cache

*~

ext_deps
config.h.in
config.h

ccan/libccan.a
lib/arg-nonnull.h
lib/c++defs.h
lib/libgnu.a
lib/signal.h
lib/string.h
lib/stdint.h
lib/warn-on-use.h

mkinstalldirs

*.swp
/.autotools
/.cproject
/.project
/cgminer.c_latest
/cgminer.c_save

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache

# still more ...
*.o
*.a
*.in

*.lib
*.obj
*.dll
*.exp
*.lib
*.pdb
*.res
*.bak
*.sbr
*.suo
*.idb
*.bsc
*.intermediate.manifest
*.lastbuildstate
*.cache
*.ilk
*.ncb
*.tlog
*.sdf
*.opensdf
*.opt
*.plg
*.log
*.vcxproj.user
*~
Makefile.in
/ABOUT-NLS
/aclocal.m4
/config.h.in
/configure
/dist
/tmp-buildaclocal.m4
compat/jansson-2.5/aclocal.m4
compat/libusb-1.0/aclocal.m4
cgminer
compat/libusb-1.0/compile
compile
compat/jansson-2.5/config.guess
compat/libusb-1.0/config.guess
config.guess
compat/jansson-2.5/config.h
compat/libusb-1.0/config.h
config.h
compat/jansson-2.5/config.h.in
compat/libusb-1.0/config.h.in
config.h.in
compat/jansson-2.5/config.log
compat/libusb-1.0/config.log
config.log
compat/jansson-2.5/config.status
compat/libusb-1.0/config.status
config.status
compat/jansson-2.5/config.sub
compat/libusb-1.0/config.sub
config.sub
compat/jansson-2.5/configure
compat/libusb-1.0/configure
configure
compat/jansson-2.5/depcomp
compat/libusb-1.0/depcomp
depcomp
lib/dummy.o
lib/.deps/dummy.Po
compat/jansson-2.5/src/dump.lo
compat/jansson-2.5/src/.libs/dump.o
compat/jansson-2.5/src/dump.o
compat/jansson-2.5/src/.deps/dump.Plo
compat/jansson-2.5/src/error.lo
compat/jansson-2.5/src/.libs/error.o
compat/jansson-2.5/src/error.o
compat/jansson-2.5/src/.deps/error.Plo
compat/jansson-2.5/src/hashtable.lo
compat/jansson-2.5/src/.libs/hashtable.o
compat/jansson-2.5/src/hashtable.o
compat/jansson-2.5/src/.deps/hashtable.Plo
compat/jansson-2.5/install-sh
compat/libusb-1.0/install-sh
install-sh
.settings/language.settings.xml
ccan/libccan.a
ccan/opt/libccan_a-helpers.o
ccan/opt/.deps/libccan_a-helpers.Po
ccan/opt/libccan_a-opt.o
ccan/opt/.deps/libccan_a-opt.Po
ccan/opt/libccan_a-parse.o
ccan/opt/.deps/libccan_a-parse.Po
ccan/opt/libccan_a-usage.o
ccan/opt/.deps/libccan_a-usage.Po
lib/libgnu.a
compat/jansson-2.5/src/.libs/libjansson.a
compat/jansson-2.5/src/libjansson.la
compat/jansson-2.5/src/.libs/libjansson.lai
compat/jansson-2.5/src/.libs/libjansson.so.4.5.0
compat/jansson-2.5/libtool
compat/libusb-1.0/libtool
libtool
compat/jansson-2.5/m4/libtool.m4
m4/libtool.m4
compat/jansson-2.5/src/load.lo
compat/jansson-2.5/src/.libs/load.o
compat/jansson-2.5/src/load.o
compat/jansson-2.5/src/.deps/load.Plo
compat/jansson-2.5/ltmain.sh
compat/libusb-1.0/ltmain.sh
ltmain.sh
compat/jansson-2.5/m4/ltoptions.m4
m4/ltoptions.m4
compat/jansson-2.5/m4/ltsugar.m4
m4/ltsugar.m4
compat/jansson-2.5/m4/ltversion.m4
m4/ltversion.m4
compat/jansson-2.5/m4/lt~obsolete.m4
m4/lt~obsolete.m4
ccan/Makefile
compat/jansson-2.5/Makefile
compat/jansson-2.5/src/Makefile
compat/libusb-1.0/libusb/Makefile
compat/libusb-1.0/Makefile
compat/Makefile
lib/Makefile
Makefile
ccan/Makefile.in
compat/jansson-2.5/Makefile.in
compat/jansson-2.5/src/Makefile.in
compat/libusb-1.0/libusb/Makefile.in
compat/libusb-1.0/Makefile.in
compat/Makefile.in
lib/Makefile.in
Makefile.in
compat/jansson-2.5/src/memory.lo
compat/jansson-2.5/src/.libs/memory.o
compat/jansson-2.5/src/memory.o
compat/jansson-2.5/src/.deps/memory.Plo
compat/jansson-2.5/missing
compat/libusb-1.0/missing
missing
.settings/org.eclipse.cdt.managedbuilder.core.prefs
autom4te.cache/output.0
compat/jansson-2.5/autom4te.cache/output.0
compat/libusb-1.0/autom4te.cache/output.0
autom4te.cache/output.1
compat/jansson-2.5/autom4te.cache/output.1
compat/libusb-1.0/autom4te.cache/output.1
autom4te.cache/output.2
compat/libusb-1.0/autom4te.cache/output.2
compat/jansson-2.5/src/pack_unpack.lo
compat/jansson-2.5/src/.libs/pack_unpack.o
compat/jansson-2.5/src/pack_unpack.o
compat/jansson-2.5/src/.deps/pack_unpack.Plo
autom4te.cache/requests
compat/jansson-2.5/autom4te.cache/requests
compat/libusb-1.0/autom4te.cache/requests
compat/jansson-2.5/src/strbuffer.lo
compat/jansson-2.5/src/.libs/strbuffer.o
compat/jansson-2.5/src/strbuffer.o
compat/jansson-2.5/src/.deps/strbuffer.Plo
compat/jansson-2.5/src/strconv.lo
compat/jansson-2.5/src/.libs/strconv.o
compat/jansson-2.5/src/strconv.o
compat/jansson-2.5/src/.deps/strconv.Plo
autom4te.cache/traces.0
compat/jansson-2.5/autom4te.cache/traces.0
compat/libusb-1.0/autom4te.cache/traces.0
autom4te.cache/traces.1
compat/jansson-2.5/autom4te.cache/traces.1
compat/libusb-1.0/autom4te.cache/traces.1
autom4te.cache/traces.2
compat/libusb-1.0/autom4te.cache/traces.2
compat/jansson-2.5/src/utf.lo
compat/jansson-2.5/src/.libs/utf.o
compat/jansson-2.5/src/utf.o
compat/jansson-2.5/src/.deps/utf.Plo
compat/jansson-2.5/src/value.lo
compat/jansson-2.5/src/.libs/value.o
compat/jansson-2.5/src/value.o
compat/jansson-2.5/src/.deps/value.Plo


